* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #303030;
}

.container {
    /* background-color: aqua; */
    color: white;
    margin-top: 50px;
    margin-left: 50px;
    
    
}

.name {
    width: 300px;
    font-size: 60px;
    transition-property: transform;
    transition-duration: 1s;
    transition-timing-function: ease-out;
}

.des {
    width: 600px;
    font-size: 18px;
    line-height: 1.5;
    margin: 20px 0;
    transition-property: transform;
transition-duration: 1s;
transition-timing-function: ease-out;
}

.minions {
    /* background-color: rgb(78, 78, 126); */
    height: 300px;
transition-property: transform;
transition-duration: 1.2s;
transition-timing-function: ease-out;}


.inho {
    /* background-color: rgb(78, 78, 126); */

    height: 300px;
transition-property: transform;
transition-duration: 1.2s;
transition-timing-function: ease-out;
}

.container:hover .minions{
    transform: translate(250px, 250px) rotate(2.12turn) scale(1.75);
}
.container:hover .inho{
    transform: translate(350px, 350px) rotate(2.12turn) scale(2.5);
}
.container:hover .name{
    
    transform: translate(490px, 690px) rotate(0.85turn) scale(1.3);
}
.container:hover .des{
    transform: translate(250px, 200px) rotate(0.1turn) ;
}

.name:hover{
    color: yellow;
}

.des:hover{
    background-color: yellow;
    color: black;
}

.container .minions:hover{
    transform: translate(-250px, -250px) rotate(0.12turn) scale(0);   

}
.container .inho:hover{
    transform: translate(650px, -650px) rotate(0.12turn) scale(0);   

}