
*{
    margin: 0;
    padding: 0;
}
li{
    list-style-type: none;
}

nav{
    position: relative;
}

.fa-solid{
    font-size: 100px;
    position: absolute;
    top: 0;
    right: 0;
    transition: all 0.5s;
}

.fa-bars{
    cursor: pointer;
    z-index: 1;
}

.fa-bars:active{
    transform: rotate(0.25turn);
}

.fa-bars:active+ul>.fa-solid{
    opacity: 1;
}
.fa-bars:active+ul>.fa-house{
    top: 120px;
    }
.fa-bars:active+ul>.fa-magnifying-glass{
    top: 240px;
    }
.fa-bars:active+ul>.fa-circle-user{
    top: 360px;
    }
.fa-bars:active+ul>.fa-image{
    top: 480px;
    }
.fa-bars:active+ul>.fa-envelope{
    top: 600px;
    }

ul>.fa-solid{
    opacity: 0;
}    






/* 
span{
    transition-property: transform;
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
    background-color: aqua;
    float: right;
}


li nth-of-type(1){
    
}


span:hover{
    transform: rotate(0.25turn);

}
.fa-solid fa-bars:hover{
} */


